* {
    font-family: "Poppins", sans-serif;
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

:root {
    --grey-white: #D8DADE;
}

.unselectable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

.topiclist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: #26292F;
    border-radius: 10px;

    max-width: 35%;
    min-height: 400px;
    margin: 10px;

    color: #ffffff;

    transition: all, 0.5s;
}

.topiclist-card:hover {
    background-color: #5E747F;
}

.topiclist-card-image {
    max-height: 35%;
    width: 100%;
}

.topiclist-card-description {
    font-style: italic;
}