* {
    font-family: "Poppins", sans-serif;
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

.topiclist-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: #26292F;
    border-radius: 10px;

    max-width: 35%;
    min-height: 400px;
    margin: 10px;

    color: #ffffff;

    transition: all, 0.5s;
}

.topiclist-card:hover {
    background-color: #5E747F;
}

.topiclist-card-image {
    max-height: 35%;
}

.topiclist-card-description {
    font-style: italic;
}