* {
    font-family: 'DM Sans', sans-serif;
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

:root {
    --dark : #27292E;
    --dark-lighter : #3c3f47;
    --light-blue:  #B6C8E0;
    --cream: #CCA589;
    --grey-white: #D8DADE;
    --grey-light: #A6A8AA;
    --brown-red: #4B2423;
    --brown-light: #857070;
}

/* Scrollbar */
body::-webkit-scrollbar {
    display: none;
}

.unselectable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}

/* Header */
header {
    overflow: hidden;
    background-color: var(--dark);
    min-height: 75px;
    height: 10svh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
}

.header-logo {
    max-height: 100%;
    width: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo-image {
    width: 100%;
    height: 100%;
}

.header-navbar {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;

    height: 100%;
    min-width: 600px;
    width: 30%;
}

.header-navbar-element {
    height: 100%;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    padding: 0 5px;

    transition: all, 0.5s;
}

.header-navbar-element:hover {
    background-color: var(--dark-lighter);
}

.header-navbar-element:visited {
    color: var(--grey-white);
}

.header-navbar-element-text {
    color: var(--grey-white);
    text-decoration: none;

    text-transform: uppercase;
    font-weight: 600;
}

.header-loginicon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
    min-width: 150px;
}

body:has(.header-loginicon:hover) .header-loginicon-image {
    background-color: var(--dark-lighter);
    padding: 15px;
    max-width: 70px;
}

/* body:has(.header-loginicon:hover) .header-loginicon-image {
    content: url("./public/img/icon_user_hovered.png");
} */

.header-loginicon-image {
    width: 100%;
    border-radius: 50%;

    max-width: 40px;

    transition: all, 0.5s;
}

/* Footer */

footer {
    min-height: 150px;
    height: 10svh;
    background-color: var(--dark);

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-image {
    height: 55%;
    max-width: 30%;
}

.footer-textzone {
    width: 30%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-text {
    color: var(--grey-white);
    text-decoration: none;

    margin: 0 5px;
}

.footer-text:hover {
    color: #fff;
}


.footer-networks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-socialnetwork {
    width: 30px;
    margin: 0 5px;
}

/* All Topics */

.topiclist-main {
    min-height: 90svh;
    background-color: #f4f4f4;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.topiclist-allcards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.topiclist-card {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    outline: 1px solid #26292F;
    border-radius: 3px;
    background-color: #fff;

    min-width: 350px;
    width: 30%;
    height: 400px;
    margin: 10px;

    color: #0c0c0c;

    transition: all, 0.5s;
}

.topiclist-card:hover {
    transform: translateY(-2px);
}

.topiclist-card-figure {
    width: 100%;
    overflow: hidden;
    border-radius: 0 0 15px 15px;
    max-height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.topiclist-card-image {
    width: 100%;
}

.topiclist-card-title {
    margin: 10px 0;
    text-align: center;
}

.topiclist-card-description {
    font-style: italic;
    margin: 10px 0;
    text-align: center;
}

/* Homepage */

.home-main {
    min-height: 90svh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.home-pageone {
    height: 90svh;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    background-color: #0000003f;
    width: 100%;
}

.home-pageone-textzone {
    font-family: "Dosis";
    font-style: italic;
    background-color: none;
    color: #ffffff;
    position:absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-pageone-title {
    font-size: 3.7rem;
}

.home-pageone-subtitle {
    font-size: 1.3rem;
}

.home-pageone-background {
    overflow: hidden;
    z-index: -1;
    position: fixed;
    min-width: 100%; 
    min-height: 100%;
}

.home-pageonebackground-video {
    height: 100%;
    width: 100%;
}
  